main {
    padding: 40px 0;
    text-align: center;
}

main h2 {
    margin-bottom: 20px;
}

.player {
    margin-bottom: 40px;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 35px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.player h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.player p {
    font-size: 16px;
    margin-bottom: 20px;
}

.player img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 50%;
}